.item {
    padding: 0.8rem;
    margin-bottom: 1px;
    min-width: 19rem;
    width: 100%;
    text-align: start;
    font-weight: 400;
    font-size: 1.4rem;
    color: #F1FAEE;
    border: none;
    background-color: #1D3557;
    cursor: pointer;
    text-align: start;
}

.item:hover {
    background-color: #457B9D;
}

.active {
    background-color: #E63946;
}

.active:hover {
    background-color: #E63946;
}
