.item {
    padding: 0.8rem;
    margin-bottom: 1px;
    min-width: 19rem;
    width: 100%;
    text-align: start;
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--color-xlight);
    border: none;
    background-color: var(--color-dark);
    cursor: pointer;
    text-align: start;
}

.item:hover {
    background-color: var(--color-xdark);
}

.active {
    background-color: var(--color-accent);
}

.active:hover {
    background-color: var(--color-accent);
}
