.task {
    display: flex;
    padding: 1rem;
    width: 79rem;
    background-color: #A8DADC;
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem;
    font-size: 1.2rem;
}

.active {
    background-color: #457B9D;
}

.task header {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.task h3 {
    margin: 0;
    color: #F1FAEE;
    font-weight: 300;
    font-size: 2.6rem;
}

span {
    padding-left: 0.1em;
    font-size: inherit;
    color: inherit;
}

.repeat {
    padding-top: 0.6rem;
    font-size: 1.6rem;
    margin-left: auto;
    align-self: flex-start;
    justify-self: flex-end;
    color: #1D3557;
}

.repeatToday {
    color: #F1FAEE;
    font-weight: 600;
}

.btn {
    align-self: start;
    border: none;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    color: #F1FAEE;
    background-color: #E63946;
    border-radius: 10px;
}

.btn:hover {
    background-color: #b62c37;
}