.task {
    display: flex;
    padding: 1rem;
    width: 79rem;
    background-color: var(--color-light);
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem;
    font-size: 1.2rem;
}

.active {
    background-color: var(--color-light-accent);
}

.task header {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.task h3 {
    margin: 0;
    padding-block: 0.5rem;
    color: var(--color-xlight);
    font-weight: 300;
    font-size: 2.6rem;
    line-height: 1;
    cursor: pointer;
}

span {
    padding-left: 0.1em;
    font-size: inherit;
    color: inherit;
}

.repeat {
    padding-top: 0.6rem;
    font-size: 1.6rem;
    margin-left: auto;
    align-self: flex-start;
    justify-self: flex-end;
    color: #1D3557;
}

.repeatToday {
    color: var(--color-xlight);
    font-weight: 600;
}

.btn {
    align-self: start;
    flex-shrink: 0;
    border: none;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    color: var(--color-xlight);
    transition: background-color .2s ease-in-out;
    background-color: var(--color-dark);
}

.btn:hover {
    background-color: var(--color-xaccent);
}

.editContainer {
    height: 3.6rem;
    display: flex;
    justify-items: stretch;
    align-items: stretch;
}