.toggle {
    display: flex;
    flex-direction: column;
}

.toggleContainer {
    display: flex;
}

.toggleTitle {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: 500;
}