.modal {
    display: none;
    position: fixed;
    inset: 0 0 0 0;
    background-color: rgba(1, 1, 1, 0.5);
}

.modalContent {
    min-width: 25rem;
    padding: 2.5rem;
    background-color: var(--color-xlight);
    border-radius: var(--border-radius);
}

.modal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}