.modal {
    display: flex;
    position: fixed;
    inset: 0 0 0 0;
    background-color: rgba(1, 1, 1, 0.5);
    justify-content: center;
    align-items: center;
    opacity: 0;
    cursor: pointer;
}

.modalContent {
    position: relative;
    min-width: 25rem;
    padding: 2.5rem;
    background-color: #fff;
    border-radius: var(--border-radius);
    cursor: auto;
}

.modalClose {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    height: 4rem;
    width: 4rem;
    color: var(--color-xdark);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.modal-active {
    opacity: 1;
}

.modal-enter {
    opacity: 0;
}

.modal-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
}

.modal-exit {
    opacity: 1;
}

.modal-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}
