@import url(./lib/normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

:root {
  --color-xdark: #132641;
  --color-dark: #1D3557;
  --color-light: #A8DADC;
  --color-light-accent: #457B9D;
  --color-xlight: #F1FAEE;
  --color-accent: #E63946;
  --color-xaccent: #9b1823;

  --text-shadow: 1px 1px 0.15em var(--color-xdark);
  --text-shadow-light: 1px 1px 0.09em var(--text-white);
  --box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  --text-white: rgb(248 250 252);
  --border-radius: 4px;
  --transition-time: 0.15s;
  --bg-gradient: linear-gradient(140deg, rgba(183,229,231,1) 0%, rgba(144,176,221,1) 47%, rgba(246,83,95,1) 100%);
  --bg-gradient-confirm: linear-gradient(245deg, rgba(134,226,123,1) 0%, rgba(75,159,120,1) 100%);
  --bg-gradient-cancel: linear-gradient(140deg, rgba(204,70,86,1) 0%, rgba(191,8,24,1) 100%);
}

html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}

#root {
  padding-bottom: 2rem;
  min-height: calc(100vh - 2rem);
  background-color: #fff;
  background: rgb(183,229,231);
  background: var(--bg-gradient);
}

.App {
  display: grid;
  grid-template-columns: 1fr [center-start] minmax(500px, 900px) [center-end]  1fr;
  row-gap: 2.5rem;
  padding-top: 4.5rem;
}

.header {
  grid-column: center-start / center-end;
  display: flex;
  justify-content: flex-end;
  color: var(--text-white);
  text-shadow: var(--text-shadow);
  margin: 0 auto;
  margin-bottom: 2rem;
}

.input__min { width: 9rem; }

.task {
  display: grid;
  width: min-content;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto 1fr;
  background-color: var(--color-dark);
}

.task::after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
}

.task__submit {
  min-width: 12rem;
  grid-row: 1/3;
  grid-column: 5/6;
  font-size: 1.6rem;
  border: none;
  color: var(--color-xlight);
  background-color: var(--color-accent);
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

.task__submit:hover {
  background-color: var(--color-xaccent);
}

.task__name {
  font-size: 1.6rem;
  grid-column: 1/5;
}

.tasks-container {
  grid-column: center-start / center-end;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
}
