.btn {
    display: flex;
    align-items: center;
    padding-block: 1rem;
    padding-inline: 1.5rem;
    font-size: 1.6rem;
    border: none;
    color: var(--color-xlight);
    background-color: var(--color-accent);
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    border-radius: var(--border-radius);
}

.btn:hover {
    background-color: var(--color-xaccent);
}

.transparent {
    color: var(--color-xdark);
    border-color: transparent;
    background-color: transparent;
}

.transparent:hover {
    background-color: transparent;
    border-color: transparent;
}
