.taskCreatorWrapper {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.taskCreatorTitle {
    margin: 0;
    margin-bottom: 3rem;
    font-size: 2.6rem;
    color: currentColor;
    text-align: center;
}

.taskCreatorInner {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
}

.typesControl {
    display: flex;
    border: none;
    cursor: pointer;
}