.input {
    font-size: 1.6rem;
    padding: 0.9rem 1rem;
    color: var(--color-xlight);
    border: none;
    outline: none;
    background-color: var(--color-dark);
    transition: all 0.15s ease-in-out;
}

.input:hover {
    background-color: var(--color-xdark);
}

.input::placeholder {
    color: #f1faee8f;
}