.input {
    padding: 0.9rem 1rem;
    color: var(--color-dark);
    border: none;
    outline: none;
    font-size: inherit;
    background-color: transparent;
    transition: all 0.15s ease-in-out;
    border: 1px solid rgba(145, 145, 145, 0.3);
    border-radius: var(--border-radius);
}

.input:hover {
    background-color: var(--color-xlight);
}

.input::placeholder {
    color: var(--color-dark);
}