.menu {
    display: flex;
    position: relative;
    width: 19rem;
}

.toggle {
    width: 100%;
    padding: 0.8rem;
    padding-inline-start: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
    border: none;
    color: #F1FAEE;
    background-color: var(--color-dark);
    cursor: pointer;
    text-align: start;
    transition: all 0.15s ease-in-out;
}

.toggle:hover {
    background-color: var(--color-xdark);
}

.selected {
    background-color: var(--color-accent);
    color: var(--color-xlight);
}

.dropdown {
    position: relative;
    z-index: 100;
    display: flex;
    padding-block: 0.5rem;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 100%;
    left: 0;
}