.menu {
    display: flex;
    position: relative;
    width: 19rem;
}

.toggle {
    width: 100%;
    padding: 0.8rem;
    padding-inline-start: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
    border: none;
    color: #F1FAEE;
    background-color: var(--color-dark);
    cursor: pointer;
    text-align: start;
    transition: all 0.15s ease-in-out;
}

.toggle:hover {
    background-color: var(--color-xdark);
}

.selected {
    background-color: var(--color-accent);
    color: var(--color-xlight);
}

.wrapper {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    overflow: hidden;
}

.dropdown {
    z-index: 100;
    display: flex;
    padding-block: 0.5rem;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    transition: height 0.5s ease-in-out;
}

.dropdown-enter-active {
    animation: slideBottom 0.5s forwards;
}

.dropdown-exit-active {
    animation: slideTop 0.5s forwards;
}

@keyframes slideBottom {
    0% {
        transform: translateY(-110%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-110%);
    }
}