.toggleItem {
    display: flex;
    padding: 0.5rem 0.8rem;
    font-size: 1.5rem;
    cursor: pointer;
    border: 1px solid rgba(145, 145, 145, 0.3);
    box-shadow: var(--box-shadow);
    background-color: rgba(255, 255, 255, 0.15);
    border-left: none;
    transition: all var(--transition-time) ease-in-out;
}

.toggleItem:hover {
    border: 1px solid rgba(145, 145, 145, 0.4);
    border-left: none;
    background-color: rgba(255, 255, 255, 0.7);
}

.toggleItem.first {
    border-left: 1px solid rgba(145, 145, 145, 0.3);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.toggleItem.last {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.toggleItem.active {
    color: var(--color-xlight);
    background: rgb(89, 184, 78);
    border-color: rgb(75, 165, 65);
}